/*课程详细情况页面css*/
body {background: #EFF3F4;}
.detail {background: #fff; width: 1000px; padding: 20px 70px;}
.detail h2{font-family: "微软雅黑"; font-size: 50px; font-weight: bold;margin: 40px auto 20px; text-align: center; border-bottom: 1px solid #f2f2f2;  padding-bottom: 20px;}

.detail .favour {text-align: center;}
.detail .favour p {line-height: 28px; font-size: 20px; font-weight: bold;}
.detail .favour strong {font-size: 28px; text-decoration: line-through; color: #f00;}
.detail .favour em {font-size: 50px;color: #f00; font-family: "微软雅黑"; position: relative; top:10px;}


.content h3{font-family: "微软雅黑"; font-size: 20px; font-weight: bold;margin-bottom: 10px;}
.content p {font-size: 16px;  line-height: 27px;}
.content p strong {font-weight: bold;}
.content p em{color: #f00; font-weight: bold;}

/*表格样式*/
.outline h4{background: #E4393C; text-align: center; color: #fff; height: 50px; line-height: 50px; font-size: 32px; font-weight: bold; margin: 10px 0 15px 0; font-family: "微软雅黑";}
.outline table {border: 1px solid #CDE8EF; margin-bottom: 30px;}
.outline table caption {text-align: center; margin-bottom: 20px; font-size: 20px; font-weight: bold;}
.outline table th{border: 1px solid #CDE8EF; padding: 0 15px; line-height: 40px; height: 40px; font-weight: bold;}
.outline table td{border: 1px solid #CDE8EF; padding: 10px 15px; line-height: 23px;}

/*四个月后大牛*/
.bull {background: #2D313C;padding-bottom: 15px;}
.bull h2{font-size: 40px; font-family: "微软雅黑"; text-align: center; padding: 20px 0; font-weight: bold;color: #fff;}

/* 报名链接*/
.enroll {width: 500px; height: 84px; background: #E34400; margin: 15px auto;padding: 15px;}
.enroll a {display: block; width: 488px; height: 84px; text-align: center; font-family: "微软雅黑"; font-weight: bold; font-size: 18px; color: #fff;}
.enroll strong {font-size: 40px; display: block;}
.enroll:hover{background: #F5642C;}