/*首页样式*/
.php-banner {width: 100%; text-align: center;background: #E4393C; height: 150px;}
.php-banner h2 {font-size: 32px; font-family: "微软雅黑";padding:20px 0;}
.php-banner h2 {font-size: 72px; color: #fff;}
.php-banner img {  width: 307px; height: 245px; vertical-align: middle; margin: 15px 15px 0;}
.php-banner h2 span {color:#fff; font-size: 50px; font-weight: bold; font-family: "微软雅黑"; }

.main h2{font-size: 40px; font-family: "微软雅黑"; text-align: center; padding: 20px 0; font-weight: bold;}

/*师资*/
.teacher-hd {font-family: "微软雅黑"; font-size: 32px; text-align: center; background: #E4393C; padding: 20px 0; color: #fff;}

.teacher-hd strong{font-size: 50px; font-weight: bold;}
.teacher-bd {background: #141414; margin-bottom: 1px; color: #fff; width: 1040px; padding: 20px 50px;}
.teacher-bd .pic img {width: 387px; height: 464px;}
.teacher-bd .intro {width: 600px; }
.teacher-bd h4{font-family: "微软雅黑"; font-size: 24px; font-weight: bold; margin-bottom: 8px; position: relative; top: -5px;}
.teacher-bd p{line-height: 26px;}
.teacher-bd .wx{width: 150px;  vertical-align: top; position: relative; top: -40px;}
.teacher-bd .intro a,.teacher-bd .intro em{color: #FFFF00;}


/*薪水*/
.salary {position: relative;}
.salary dl {position: absolute; right: 80px; top: 200px;font-family: "微软雅黑"; font-size: 24px; }
.salary dl span {color: #00B050; font-weight: bold;}
.salary dl em,.salary dl strong{color: #FF0000; font-weight: bold;}
.salary .high {margin-top: 8px; font-size: 36px; color: #0070C0; font-weight: bold; }


/* 报名链接*/
.enroll {width: 500px; height: 84px; background: #E34400; margin: 15px auto;padding: 15px;}
.enroll a {display: block; width: 488px; height: 84px; text-align: center; font-family: "微软雅黑"; font-weight: bold; font-size: 18px; color: #fff;}
.enroll strong {font-size: 40px; display: block;}
.enroll:hover{background: #F5642C;}

/*不能忍*/
.ren {background: #2D313C; padding: 20px 0;}
.ren h2{color: #fff;}
.ren li{float: left; width: 340px; margin-left:40px;_margin-left:30px;}


/*开班 2FA96D*/ 
.opening {background: #2D313C; padding-bottom: 10px;}
.opening h2{color: #fff;}
.opening h3 {font-size: 28px; text-align: center; color: #fff; font-weight: bold; font-family: "微软雅黑";}
.opening h3 strong {color: #E34400; font-size: 36px;font-weight: bold !important;}
.opening h4{text-align: center; color: #fff;font-size: 32px; font-weight: bold;font-family: "微软雅黑"; margin: 15px 0;}
.opening p{color: #fff;font-family: "微软雅黑"; font-size: 20px; line-height: 34px;font-weight:bold;}
.opening strong {color: #ffff00;}
.info , .favour {background: #34495E; width: 900px; margin: 0 70px; padding: 20px 50px; text-align: left;}

.favour dl {color: #fff;font-family: "微软雅黑"; font-size: 18px;line-height:34px}

/*常见问题 及报名流程*/
.qa,.registration{background: #EFF3F4; font-size: 16px; padding-bottom: 15px;}
.qa p ,.registration p{padding: 0 50px; line-height: 25px;font-weight: bold;color: #333;}
.qa .question,.registration .question{color: #0070C0; font-family: "微软雅黑"; margin: 20px 0 5px 0; font-size: 20px; }
.qa p img{margin: 10px 0;}

/*就业  */
.offer {background: #2FA96D;padding-bottom: 15px;}
.offer h2{color: #fff;}
.company {float: left; width: 680px; margin-left: 50px;}
.company li { float: left; margin:10px 0 10px 20px;}
.company li img{width: 180px; height: 80px;}

.job h3{font-size: 32px; font-family: "微软雅黑"; margin-bottom: 10px; margin-top: 50px;}
.job li {font-size: 24px; font-family: "微软雅黑";}
.job li em{color: #ff0;}
/*报名流程*/


/*四个月后大牛*/
.bull {background: #2D313C;padding-bottom: 15px;}
.bull h2{color: #fff;}